* { border:1px solid red; }

/* NAV BAR */

/* The container <div> - needed to position the dropdown content */
.navbar {
  position: relative;
  display: inline-block;
}

.navbtn {
	background-color: #F5FF12;
	color: #291C19;
	padding: 16px;
	font-size: 16px
	border: none;
}


/* Dropdown Content (Hidden by Default) */
.navbar .dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Dropdown for Submenu */
.navbar .dropdown-menu .dropdown-submenu .navbtn{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.navbar .dropdown-menu .dropdown-submenu .navbtn a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown menu on hover */
.navbar .dropdown-menu:hover .dropdown-menu {
	display: block;
}

.navbar .dropdown-submenu:hover .dropdown-submenu {
	display: block;
}

/* example */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

.dropdown-sub {
  position: relative;
  display: inline-block;
}

.dropdown-sub-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-sub-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-sub-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Template css */
.logo-and-nav__logo {
	background: #333;
	margin:0; padding:0;
	color: white; padding:
	20px;
	text-transform:uppercase;
}
.logo-and-nav__links {
	background:#555; 
	padding: 20px; 
	margin:0; 
	padding:0; 
	display:flex; 
	list-style-type: none; 
	flex-wrap:wrap;
}
.logo-and-nav__links li {
	flex:1; 
	display:flex; 
	border-right:1px solid #444; 
	justify-content: center;
}
.logo-and-nav__links a {
	display: block; 
	color:white; 
	text-decoration: none; 
	padding: 20px;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


/* make big images fit their container */

img {
    max-width: 100%;
    height: auto;
}.logo-and-nav {
   margin-bottom: 3rem;
}

.logo-and-nav__logo {background: #333; margin:0; padding:0; color: white; padding: 20px; text-transform:uppercase;}
.logo-and-nav__links {background:#555; padding: 20px; margin:0; padding:0; display:flex; list-style-type: none; flex-wrap:wrap;}
.logo-and-nav__links li {flex:1; display:flex; border-right:1px solid #444; justify-content: center;}
.logo-and-nav__links a {display: block; color:white; text-decoration: none; padding: 20px;}
.standard-header {
    padding: 40px 20px 20px 20px; 
}

.standard-header__content {
 color: #333;
 max-width: 700px;
  margin: 0 auto;
}
.standard-header__content h1 {margin:0; padding:0; font-size: 2.5rem;}
.standard-header__content p {margin:0; padding:0.5rem 0 0; font-size: 1.25rem; font-weight:bold;}/* this .content-column code is common to a lot of these patterns */

.content-column {
    padding: 40px 20px; 
}

.content-column__content {
    max-width: 700px;
    margin: 0 auto;
}

/* you can use the .editable-text class to modify the typography for the standard column of content */

.editable-text img {margin: 1rem 0;}
.editable-text h2 {margin:0; padding: 1rem 0 0.35rem 0; color:red;}
.editable-text h3 {margin:0; padding: 1rem 0 0.35rem 0; color:maroon;}
.editable-text p {margin:0; padding: 0 0 1rem 0;}
/* end .content-column code */.page-footer {
    background: #333;
    min-height: 20vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}

.page-footer a {color: yellow;}

.page-footer .social-media {
    display: flex;
    list-style-type: none;
}

.page-footer .social-media li {
    padding: 0 1rem;
}    </style>