# Usability Testing Report

## Introduction

Write an introduction to your report.

1. What did you do?
   
We conducted our inital useability testing by asking an internal and external particpant to review the site. Prior to conducting the testing we got both parties to sign individual consent forms to ensure we had their permission to progress with useability testing. We then asked them to explore the site, like they would if they were to browse any other website. We watched and made notes of any comments that were made and of the paths to find certain information they took. We also set the users with small tasks such as, find mens clothing, find the about us information and find girls clothing. This allowed us to understand the exact steps a user would take and allowed us to understand whether we have set the paths up to make the most sense for users. By allowing users free reign over the site and also setting specific tasks they needed to complete, we were able to gain valuable data that we can use to make ammendments to are orgianl site. 

2. Why did you do it?

We conducted useability testing to ensure users, both external and internal, could understand and use the site. It also highlighted any issues or bugs we had with the site, which we were able to fix prior to submitting the portfolio work. The valuable insight we gained from conducting this task allowed us to produce a better product that met the needs of our users. 


3. How did you do it?

We selected two candidates that would find this site useful and watched as they interacted with the site. We made a note of any comments they had, such as on the font or the colours used. We then set them specific tasks to complete and watched how they interacted with the site using their own logic. This helped us to understand whether are paths were logical or needed ammending. We then used the findings to make ammendments to are site before conducting further useability testing to ensure are site was the best it could be. 

### Findings

(500 words)

The findings from the useability testing highlighted that those tested enjoyed the content, colours and font and found the pathways to infomration logical. They made comments on the content within the webiste and expressed the need for more detail under some of the images used. They also requested that the logo be more prominent so they could easily identify the brand whilst accessing the site. 

Discuss the key issues that have been identified (positive and negative). This must closely relate to your observations (in your notes) and any exit surveys.

4. What did you find?

## Actions

Detail the changes your group has decided on in response to the initial testing and any subsequent test sessions.

Create an updated version of the page design and add this to the report.

## Results of further testing


Image of Further testing conducted with the same individual who interacted with our inital user testing 

<img src="sp4-media/Userextratesting.jpg" alt="Futher testing photo" width="1000">

Below are further responses we collected after improving some of the aspects that were highlighted to us in the user testing, such as the addition of a discussion forum and the addition of links to the footer. These surveys were filled out by the individuals who tested our site origionally. 

## Further Testing: Becky Barrow

<img src="sp4-media/FurtherTesting1.png" alt="further testing Becky Barrow" width="1000">

## Further Testing: George Scott

<img src="sp4-media/FurtherTesting2.png" alt="further testing George Scott" width="1000">


## Exit survey

Below are the results from our exit survey. We conducted this survey after userabilty testing and consolidated the results into the below tables. 

<img src="sp4-media/ExitSurvey1.png" alt="Exit survey results" width="1000">

<img src="sp4-media/ExitSurvey2.png" alt="Exit survey results" width="1000">




## Consent form(s)

Below are our signed consent forms. These can also be found in SP4 Media folder. These where signed prior to conducting user testing. 

## External Consent form - 

<img src="sp4-media/BBSigned.PNG" alt="External Consent Form" width="1000">


## Internal Consent Form - 

<img src="sp4-media/GGSigned.PNG" alt="Internal Consent Form" width="1000">



---
