# Usability Testing Report

## Introduction

Write an introduction to your report.

1. What did you do?
2. Why did you do it?
3. How did you do it?

### Findings

(500 words)

Discuss the key issues that have been identified (positive and negative). This must closely relate to your observations (in your notes) and any exit surveys.

4. What did you find?

## Actions

Detail the changes your group has decided on in response to the initial testing and any subsequent test sessions.

Create an updated version of the page design and add this to the report.

## Results of further testing


Image of Further testing conducted with the same individual who interacted with our inital user testing 

<img src="sp4-media/Userextratesting.jpg" alt="Futher testing photo" width="1000">

Below are further responses we collected after improving some of the aspects that were highlighted to us in the user testing, such as the addition of a discussion forum and the addition of links to the footer. These surveys were filled out by the individuals who tested our site origionally. 

## Further Testing: Becky Barrow

<img src="sp4-media/FurtherTesting1.png" alt="further testing Becky Barrow" width="1000">

## Further Testing: George Scott

<img src="sp4-media/FurtherTesting2.png" alt="further testing George Scott" width="1000">


## Exit survey

Below are the results from our exit survey. We conducted this survey after userabilty testing and consolidated the results into the below tables. 

<img src="sp4-media/ExitSurvey1.png" alt="Exit survey results" width="1000">

<img src="sp4-media/ExitSurvey2.png" alt="Exit survey results" width="1000">




## Consent form(s)

Below are our signed consent forms. These can also be found in SP4 Media folder. These where signed prior to conducting user testing. 

## External Consent form - 

<img src="sp4-media/BBSigned.PNG" alt="External Consent Form" width="1000">


## Internal Consent Form - 

<img src="sp4-media/GGSigned.PNG" alt="Internal Consent Form" width="1000">



---
