# Usability Testing Report

## Introduction

Write an introduction to your report.

1. What did you do?
2. Why did you do it?
3. How did you do it?

### Findings

(500 words)

Discuss the key issues that have been identified (positive and negative). This must closely relate to your observations (in your notes) and any exit surveys.

4. What did you find?

## Actions

Detail the changes your group has decided on in response to the initial testing and any subsequent test sessions.

Create an updated version of the page design and add this to the report.

## Results of further testing

Any further testing should be evidenced (photographs, notes and actions). Tutors will not just accept _we did some more testing_.

<!-- ## Notes

> Download -[Mini User Journey](sp4-media/mini-user-journey.pdf) forms.

Scan your completed notes as a single pdf, add to the sp4-media folder and link above. -->

## Exit survey

> Download -[Completed exit survey](sp4-media/post exit survey- group 4.pdf).




Scan your completed survey as a single pdf, add to the sp4-media folder and link above.

## Consent form(s)

> Download -[Completed consent form(s)](sp4-media/exit-survey.pdf).

<img src="sp4-media/BBSigned.PNG" alt="External Consent Form" width="1000">

<img src="sp4-media/GGSigned.PNG" alt="Internal Consent Form" width="1000">

Scan your completed consent form(s) as a single pdf, add to the sp4-media folder and link above.

---
