/* COLOURS */


/* the colours for your website */


/* delete what you don't need */


/* use swatch 1 for your most important colour, swatch 2 for the next, and so on */

.swatch-1 {
    background: #F5FF12;
}

.swatch-2 {
    background: #FAC700;
}

.swatch-3 {
    background: #ED9E4F;
}

.swatch-4 {
    background: #AF4222;
}

.swatch-5 {
    background: #C30000;
}

.swatch-6 {
    background: #291C19;
}

.swatch-7 {
    background: #46474B;
}


/* TYPOGRAPHY
/* the typography for your website */
/* Geometric Sans Serif */

/* delete the ones you don't need */

.type-1 {
    font-family: Lato, sans-serif;
    /* google font */
}

.type-2 {
    font-family: Lora, sans-serif;
    /* example of 'web safe' font */
}

.type-3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


/* Geometric Sans-Serif - Use this font for the site*/

/* TEMPLATES/CODE SNIPPETS */


/* an example of the extra code you could add - this creates some buttons */

a.button {
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 1em;
    border-radius: 0.2em;
    transition: all 0.2s ease;
}

a.button.important {
    font-size: 1.2em;
    background: #F5FF12;
    color: black;
    padding: 15px 30px;
}

a.button.normal {
    color: #C30000;
}

a.button.normal:visited {
    color: #AF4222;
}

a.button:hover {
    border-color: maroon;
    color: #222;
}

a.button.important:hover {
    color: white;
    background: #FAC700;
}

a.link.less {
    font-weight: normal;
    color: #46474B;
}

a.link.less:hover {
    font-weight: bold;
}